html{
    font-size: 20px;
}
body {
    font-family:'Arial', serif;
    background-image: url();
    font-style: italic;
     /* Grosor de la letra */
    font-weight: lighter;
    font-size: 1rem;
    /* Fallback rules or values: Se utilizan cuando el navegador no soportta la propiedad */
    background-color: rgb(0, 0, 255, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255 255, 1);
    color: white;
    
}

article{
    font-size: 10px;
    padding: 2rem;
    border: 2px solid black; /* Propiedad de shorthand */
    border-radius: 30px ;
    position: static; /* */
}

/* inherir || initial || unset => Heredar valores(estilos) */

/*Ajusta de forma horizontal el texto*/
p{
    padding: unset;
    text-align: center;
    /* Agrega espacio entre lineas*/
    line-height: 2rem; 
}

#parentA{
    background-color: blue;
    width: 100%;
    height: 400px;
}

#a{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    color: black;
    margin: 2rem;
    padding: 1rem;
    border-radius: 50% ;
    position: relative; /*Pocisiona el elemnto conforme a su elemento padre*/
    left: 100px; /*Se mueve 100px respecto al borde superior del lado derecho */
}

/*position
 right:100px ; /* a la esquimna superior izquierda
 top:200px; 
 bottom: a la esquina superior izquierda de la caja azul
*/

#b{
    background-color: brown;
    width: 100px;
    height: 100px;
    color: white;
    margin: 2rem 1rem; /* Propiedad shorthand: camino mas corto, pero podemos setear el valor para cada lado de la caja */
    position: absolute; /*pocisiona el elemnto respecto a viewport */
    top:200px;
    left: 0;
    right: 0;
    bottom: 200px;

    /*Absoluto mientras se hace scrol respeta su pocisión se mantiene en la misma pocisión todo el tiempo
    sticky Se queda fijo
*/



    /*
    display:block ocupa el Espacio disponoble de nuestro padre el 100% p lo tiene por defecto
    display: inline-block Es similar al inline pero si le das valores en width y heigt si los respeta 
    display: inline solo ocupa el esapcio de su contenido, si le colocas valor en width y heigth no aplica los estilos: previene el comportamiento de width y height span lo tiene por defecto */
}
span{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    /*Intenta respeta la posición fija*/
    position: static;
    top: 10px;
    left: 10px;
}

/* */

/* position: Nos ayuda a definir la pocisión de un elemento 
lugar donde se va a pocisionar la pantalla 
position: static; por defecto static lo tienen todos los elementos  (como se encuentran en el html se va a renderizar)
position:
top
rigth
left
bottom
*/


/* Modelo de caja: cada etiquetas es representada por una caja 
margin espacio a partir del borde a los demas elementos
padding: esapcio entre el borde  y el contenido

box-sizing
Calcula el alto y ancho del el tamaño del elemento,  esta limitado por el borde

content-box: comportaminto de css por defecto para el tamaño de la caja
la caja mide menos(border-box) o mas (content-box)


suba 10 pixeles cada vez que das clic en enter
*/

.box{
    position: absolute;
    background-color: cadetblue;

}
/* la toma absoluta pero respecto a su padre */
.container-box{
    position: relative;
    background-color: black;
    width: 100%;
    height: 400px;
    
}